<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** Database username */
define( 'DB_USER', 'debian' );

/** Database password */
define( 'DB_PASSWORD', 'password' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */

define('AUTH_KEY',         'X,g9viu^Gh}Z~N~X7vK#mULld4-msE.#]ZE.`@|S-~;|+EGN-=F!4zDX$#OB^f,v');
define('SECURE_AUTH_KEY',  ')!U%fP[3o}%BwNWEs<-eQU-C5)GY<f04C$!lA()QxD-!r4c,Ma3ef6Eh*W?4OaF>');
define('LOGGED_IN_KEY',    'h5{SDsIoCh,$$GuY_UGMNjLjjn k}|P^yk/-`Jr5-[5`OUzC*9g4</J#ZiB#gUT4');
define('NONCE_KEY',        'qp;C~yIR/&`;Etl&8^T,o6it&~:9zn%ZMw]1mD:f8T|4kBB!aMDz(Kf4h;^4sdkS');
define('AUTH_SALT',        'v`n6qSw(qF:R`&P[eUAVIy-^cImc/So#2 >#vX]vy~7_U11NsF%>kLt(@}]~uv-H');
define('SECURE_AUTH_SALT', '7I251Tl&p%26_e,P}/i/=+~c|`+5Q!hR+j%{d-9$/+^VVxT`-`R@$y(b%Fxm1f$e');
define('LOGGED_IN_SALT',   '| c#TSI#cJ5qRAmLCg/M-0UHMKt4>s|l:O1mC~_OGh!>g2/chZ-q5uP?ET;^l-L+');
define('NONCE_SALT',       '%>^z,H9->f5Or*/y7{$mm_jL2ZP,_rOI,[u+>XZ-leM^e9tC5av]PW{:=/VqZRTT');

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
